<center><h1> Je tenais à remercier mon groupe, à savoir : </h1></center>
&nbsp
&nbsp
<center> <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Bénédicte</h5>
    <p class="card-text">Les flocons d'avoines c'est la folie !</p>
  </div>
</div>
</center>
&nbsp
&nbsp
&nbsp
<center> <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Aurélien</h5>
    <p class="card-text">Parce que les échecs sont aux antipodes de l'échec...</p>
   
  </div>
</div>
</center>
&nbsp
&nbsp
&nbsp
<center> <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Niall</h5>
    <p class="card-text">Petite pause Japanese Lofi ? 😂</p>
  </div>
</div>
</center>
&nbsp
&nbsp
&nbsp
